* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Consolas;
}

#total_container {
    margin: 100px auto;
    max-width: 1375px;
    min-width: 1200px;
}

#text_fields {
    width: 300px;
    margin: 25px auto;
    overflow: hidden;
    clear: right;
}

#header {
    width: 195px;
    font-family: Consolas;
    font-size: 25px;
    margin: 0px auto;
}

.labels {
    font-size: 20px;
}

.fields {
    width: 98.5%;
}

.tool-labels {
    float: right;
    font-size: 17px;
}

.btn-group {
    width: 100%;
    overflow: hidden;
    clear: right;
    zoom: 1;
}

.btn-group button {
    width: 33.3%;
    cursor: pointer;
    float: left;
}

.btn-group input {
    width: 33.3%;
    cursor: pointer;
    float: left;
}
